<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#">Wall Api</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['acvtive']">
          <a class="nav-link"  routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [routerLinkActive]="['acvtive']">
          <a class="nav-link"  [routerLink]="['/profile']">My Profile</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['acvtive']">
          <a class="nav-link"  [routerLink]="['/dashboard']" tabindex="-1" aria-disabled="true">Dashboard</a>
        </li>
      </ul>
      
      <div class="flex-grow-1 d-flex">
      <form class="form-inline flex-nowrap bg-light mx-0 mx-lg-auto rounded p-1">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item " [routerLinkActive]="['acvtive']"> 
              <a class="nav-link"  routerLink="/register">Register</a>
            </li>
          </ul>
      <ul class="navbar-nav">
        <li class="nav-item " [routerLinkActive]="['acvtive']">
          <a class="nav-link"  href="#">Logout</a>
        </li>
      </ul>
    </div>
  </nav>